@charset "utf-8";

@font-face {
    font-family: 'KOTRA HOPE';
    src: url('../font/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    box-sizing: border-box;
    font-family: 'KOTRA HOPE';}
body{margin:0;}
h2,h3,h4,h5,h6,figure,p{margin:0;}
a{text-decoration: none;}
ul,li{list-style-type:none;padding:0;margin:0;}
img{vertical-align:middle;}        
table{border-collapse:collapse;}


$p-tb100 : 100px 0;


@mixin flex($jc,$ai,$fd,$fw){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap:$fw;

    // @include flex(space-between,center,row,nowrap)
}


header{
    position:fixed;
    left:0;top:0;
    width:100%;
    padding:30px 0;
    z-index: 9;

    >div{
        
        width:70%;margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{color:#fff;}
        h1{
            animation:txt 3s infinite;
            a{
                background: url('../img/logo.png') no-repeat;
                font-size:0;
                width:96px;height: 36px;
                display: inline-block;
            }
        }
        
        nav{flex-grow: 1; text-align: right;
            a{
                display: inline-block;
                padding:0 2%;
            }
        }
        .trigger-menu{
            width:26px; height: 16px;
            position:absolute;
            right: 0;top:30%;
            cursor: pointer;

            // display: none;
            span{
                width:100%;
                border-bottom:3px solid #fff;
                position: absolute;
                left:0; top:50%;

                &:nth-child(1){
                    transform: translateY(-6px);
                }
                &:nth-child(1){
                    transform: translateY(6px);
                }
            }
        }
    }
} 

footer{ 
    padding:$p-tb100;
    text-align: center;}

// css 컴파일하는 목적이 html에서 
// css파일 호출할려고 

// scss파일은 브라우저가 인식을 못함
// 브라우저는 css파일만 인식가능 

// common.scss파일은 html에서 호출하지 않음
// css로 컴파일할 필요가 없음 

// _를 붙이면 css파일이 생성이 안된다. 