// _common.scss
@charset "utf-8";
@font-face {
    font-family: WiseDidot;
    src: url(../font/39D93B_0_0.woff) format('woff');
    font-style: normal;
    font-weight: 500;
  }
@font-face {
    font-family: "Crimson Text";
    src:url(../font/CrimsonText-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Crimson Text";
    src:url(../font/CrimsonText-SemiBold.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Noto Serif KR";
    src:url(../font/SourceHanSerifKR-Regular_subset.woff) format('woff');
    font-style: normal;
    font-weight: 400;
  }

*{
    box-sizing: border-box;
    font-family: "Crimson Text", "Noto Serif KR";
}
html,body{margin:0;    font-size: 20px;}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
a{text-decoration: none;}
ul,li{list-style-type: none; padding:0; margin:0;}
img{vertical-align: middle;}
table{border-collapse: collapse;}

// $content-width:70%;
// $p-tb100 : 100px 0;

// @mixin h2 {
//     h2{font-size:54px;}
//     p{color:#555;}
// }

// @mixin flex($jc,$ai,$fd,$fw){
//     display:flex; 
//     justify-content: $jc;
//     align-items: $ai;
//     flex-direction: $fd;
//     flex-wrap: $fw;
// }

// header{
//     position:fixed;
//     left:0; top:0;
//     width:100%;
//     padding:30px 0;
//     z-index:9;

//     >div{
//         width:70%; margin:0 auto;
//         // display:flex;
//         // justify-content: space-between;
//         // align-items: center;
//         @include flex(space-between,center,row,nowrap);
//         position:relative;

 
// footer{ padding:$p-tb100;    text-align: center;}