
@import '_common';

main{
    img{width:100%;}
    .main{
        div{
            
            text-align: center;
            padding:100px 0;
            h2{font-size:2rem;
                small{
                    display: block;
                    font-weight: normal;
                    font-size: 1rem;
                }
            }
        }
        .ex{
            ul{
                display: flex;
                justify-content: space-between;
                padding:0 90px;
                li{
                    &::before{
                        content: url(../img/ic_01.png);
                    }
                
                    p{
                        small{display: block;
                        white-space:pre-line;}
                    }
                }
            }
        }
    }
}

.ma2{
   
    
    div{display: flex;
        background-color: #f7f7f7;
        width:100%;
        padding:80px 100px;
        box-sizing: border-box;
        p{

            img{
                width:100%;
                }
        }
        div{
            display: block;
            padding:0 50px;
            
            h2{
                padding:0 50px;
                font-size: 2rem;
                small{display: block;
                font-size: .8rem;
                font-weight: normal;
                color:rgb(131, 118, 118);
                white-space: pre-line;
                }
            }
            .grp{
                p{display: block;
                    span{
                        width:80%;
                        height:20px;
                        border:1px solid #000;
                    }
                }
            }
        }
    }
}