@font-face {
  font-family: 'KOTRA HOPE';
  src: url("../font/KOTRAHOPE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'KOTRA HOPE';
}

body {
  margin: 0;
}

h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 9;
}

header > div {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div a {
  color: #fff;
}

header > div h1 {
  -webkit-animation: txt 3s infinite;
          animation: txt 3s infinite;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: inline-block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

footer {
  padding: 100px 0;
  text-align: center;
}

main img {
  width: 100%;
}

main .main div {
  text-align: center;
  padding: 100px 0;
}

main .main div h2 {
  font-size: 2rem;
}

main .main div h2 small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
}

main .main .ex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 90px;
}

main .main .ex ul li::before {
  content: url(../img/ic_01.png);
}

main .main .ex ul li p small {
  display: block;
  white-space: pre-line;
}

.ma2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  width: 100%;
  padding: 80px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ma2 div p img {
  width: 100%;
}

.ma2 div div {
  display: block;
  padding: 0 50px;
}

.ma2 div div h2 {
  padding: 0 50px;
  font-size: 2rem;
}

.ma2 div div h2 small {
  display: block;
  font-size: .8rem;
  font-weight: normal;
  color: #837676;
  white-space: pre-line;
}

.ma2 div div .grp p {
  display: block;
}

.ma2 div div .grp p span {
  width: 80%;
  height: 20px;
  border: 1px solid #000;
}
/*# sourceMappingURL=sub.css.map */